:root {
   --primary: #ffca3a;
   --primary-tint: #ffca3a2a;
   --secondary: #bf4342;
   --background-600: #535051;
   --background-700: #3e3c3d;
   --background-800: #343233;
   --background-900: #2e2c2d;
   --text-300: #b5bac8;
   --text-200: #85878d;
   --text-100: #d9d9d9;
}
::-webkit-scrollbar {
   width: 6px;
}
html {
   scroll-behavior: smooth;
   min-width: 360px;
   /* cursor: none; */
   overflow-x: hidden;
}
::selection {
   background-color: var(--primary-tint);
}

::-webkit-scrollbar-track {
   background: transparent !important;
}

::-webkit-scrollbar-thumb {
   background: var(--primary);
   border-radius: 10px;
}
html.lenis {
   height: auto;
}

.lenis.lenis-smooth {
   scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
   overscroll-behavior: contain;
}

.lenis.lenis-stopped {
   overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
}
.text-large {
   font-size: clamp(32px, 4vw, 40px);
   line-height: 1.25;
   font-weight: 700;
}

html.has-scroll-smooth {
   overflow: hidden;
}

html.has-scroll-dragging {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.hero-info {
   font-size: 4.5rem;
   max-width: 550px;
   display: inline-block;
   font-weight: 900;
   line-height: 1.1;
   background-image: -webkit-linear-gradient(
      45deg,
      rgb(17, 126, 227),
      rgb(0, 240, 255)
   );
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.underline-animation {
   display: inline-block;
   position: relative;
}

.underline-animation::after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 3px;
   bottom: 0;
   left: 0;
   background-color: #000;
   transform-origin: bottom left;
   transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
   transform: scaleX(1);
   transform-origin: bottom left;
}

.animate-text-bg {
   position: relative;
   display: inline-block;
   overflow: hidden;
   transition: all 0.2s linear;
   line-height: 1;
   margin-bottom: -0.15em;
   z-index: 5;
}

.animate-text-bg::before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   transform: translateX(-101%);
   transition: all 0.2s linear;
   z-index: -1;
}

.animate-text-bg:hover:before {
   transform: translateX(0);
}
.hover-underline-animation {
   position: relative;
   cursor: pointer;
}

.hover-underline-animation:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: var(--col-white);
   transform-origin: bottom right;
   transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
}
@keyframes slide-from-up {
   0% {
      transform: translateY(-100px);
      opacity: 0;
   }
   100% {
      transform: translateY(100px);
      opacity: 1;
   }
}
@keyframes slide-from-bottom {
   0% {
      transform: translateY(100px);
      opacity: 0;
   }
   30% {
      opacity: 0;
   }
   100% {
      transform: translateY(0px);
      opacity: 1;
   }
}
@keyframes glowingcta-button {
   0% {
      background-position: 0 0;
   }
   50% {
      background-position: 400% 0;
   }
   100% {
      background-position: 0 0;
   }
}
.h {
   background: linear-gradient(
      45.47deg,
      rgba(235, 235, 235, 0) 20.07%,
      aliceblue 86.1%
   );
}
.to-top {
   animation: scrollTop 0.5s alternate ease infinite;
}
@keyframes scrollTop {
   from {
      transform: translateY(2px);
   }
   to {
      transform: translateY(-1px);
   }
}
.e,
.h {
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text !important;
   -moz-background-clip: text;
   background-clip: text;
}
.e {
   background: linear-gradient(
      45.47deg,
      rgba(235, 235, 235, 0) 7.19%,
      aliceblue 56.1%
   );
}
.quotes {
   display: flex;
}

.quotes-container {
   width: 100vw;
   flex-shrink: 0;
}
.safari-sticky {
   transform: translate3d(0, 0, 0);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
