@font-face {
   font-family: 'Calvier';
   src: url('../assets/fonts/Calvier.ttf') format('truetype');
   font-weight: 500;
   font-display: swap;
   font-style: normal;
}
@font-face {
   font-family: 'Chromate-Regular';
   src: url('../assets/fonts/Chromate-Regular.ttf') format('truetype');
   font-weight: 500;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: 'CabinetGrotesk-Regular';
   src: url('../assets/fonts/CabinetGrotesk-Regular.ttf') format('truetype');
   font-weight: 500;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: 'CabinetGrotesk-Bold';
   src: url('../assets/fonts/CabinetGrotesk-Bold.ttf') format('truetype');
   font-weight: 700;
   font-display: swap;
   font-style: normal;
}
@font-face {
   font-family: 'Hellix';
   src: url('../assets/fonts/Hellix-Regular.eot');
   src: local('Hellix Regular'), local('../assets/fonts/Hellix-Regular'),
      url('../assets/fonts/Hellix-Regular.eot?#iefix')
         format('embedded-opentype'),
      url('../assets/fonts/Hellix-Regular.woff2') format('woff2'),
      url('../assets/fonts/Hellix-Regular.woff') format('woff'),
      url('../assets/fonts/Hellix-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Hellix';
   src: url('../assets/fonts/Hellix-Light.eot');
   src: local('Hellix Light'), local('../assets/fonts/Hellix-Light'),
      url('../assets/fonts/Hellix-Light.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Hellix-Light.woff2') format('woff2'),
      url('../assets/fonts/Hellix-Light.woff') format('woff'),
      url('../assets/fonts/Hellix-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Hellix';
   src: url('../assets/fonts/Hellix-SemiBold.eot');
   src: local('Hellix SemiBold'), local('../assets/fonts/Hellix-SemiBold'),
      url('../assets/fonts/Hellix-SemiBold.eot?#iefix')
         format('embedded-opentype'),
      url('../assets/fonts/Hellix-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/Hellix-SemiBold.woff') format('woff'),
      url('../assets/fonts/Hellix-SemiBold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}
@font-face {
   font-family: 'Hellix';
   src: url('../assets/fonts/Hellix-Bold.eot');
   src: local('Hellix Bold'), local('../assets/fonts/Hellix-Bold'),
      url('../assets/fonts/Hellix-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Hellix-Bold.woff2') format('woff2'),
      url('../assets/fonts/Hellix-Bold.woff') format('woff'),
      url('../assets/fonts/Hellix-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Hellix';
   src: url('../assets/fonts/Hellix-Medium.eot');
   src: local('Hellix Medium'), local('../assets/fonts/Hellix-Medium'),
      url('../assets/fonts/Hellix-Medium.eot?#iefix')
         format('embedded-opentype'),
      url('../assets/fonts/Hellix-Medium.woff2') format('woff2'),
      url('../assets/fonts/Hellix-Medium.woff') format('woff'),
      url('../assets/fonts/Hellix-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: 'Ivy Mode';
   src: url('../assets/fonts/IvyMode-Regular.eot');
   src: local('Ivy Mode Regular'), local('../assets/fonts/IvyMode-Regular'),
      url('../assets/fonts/IvyMode-Regular.eot?#iefix')
         format('embedded-opentype'),
      url('../assets/fonts/IvyMode-Regular.woff2') format('woff2'),
      url('../assets/fonts/IvyMode-Regular.woff') format('woff'),
      url('../assets/fonts/IvyMode-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Ivy Mode';
   src: url('../assets/fonts/IvyMode-Bold.eot');
   src: local('Ivy Mode Bold'), local('../assets/fonts/IvyMode-Bold'),
      url('../assets/fonts/IvyMode-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/IvyMode-Bold.woff2') format('woff2'),
      url('../assets/fonts/IvyMode-Bold.woff') format('woff'),
      url('../assets/fonts/IvyMode-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Ivy Mode';
   src: url('../assets/fonts/IvyMode-Light.eot');
   src: local('Ivy Mode Light'), local('../assets/fonts/IvyMode-Light'),
      url('../assets/fonts/IvyMode-Light.eot?#iefix')
         format('embedded-opentype'),
      url('../assets/fonts/IvyMode-Light.woff2') format('woff2'),
      url('../assets/fonts/IvyMode-Light.woff') format('woff'),
      url('../assets/fonts/IvyMode-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Ivy Mode';
   src: url('../assets/fonts/IvyMode-Thin.eot');
   src: local('Ivy Mode Thin'), local('../assets/fonts/IvyMode-Thin'),
      url('../assets/fonts/IvyMode-Thin.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/IvyMode-Thin.woff2') format('woff2'),
      url('../assets/fonts/IvyMode-Thin.woff') format('woff'),
      url('../assets/fonts/IvyMode-Thin.ttf') format('truetype');
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'Ivy Mode';
   src: url('../assets/fonts/IvyMode-SemiBold.eot');
   src: local('Ivy Mode SemiBold'), local('../assets/fonts/IvyMode-SemiBold'),
      url('../assets/fonts/IvyMode-SemiBold.eot?#iefix')
         format('embedded-opentype'),
      url('../assets/fonts/IvyMode-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/IvyMode-SemiBold.woff') format('woff'),
      url('../assets/fonts/IvyMode-SemiBold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}
@font-face {
   font-family: 'MarkPro-Heavy';
   src: local('Ivy Mode SemiBold'), local('../assets/fonts/MarkPro-Heavy'),
      url('../assets/fonts/MarkPro-Heavy.woff') format('woff');
   font-weight: 600;
   font-style: normal;
}

:root {
   --primary: #ffca3a;
   --primary-tint: #ffca3a2a;
   --secondary: #bf4342;
   --background-600: #535051;
   --background-700: #3e3c3d;
   --background-800: #343233;
   --background-900: #2e2c2d;
   --text-300: #b5bac8;
   --text-200: #85878d;
   --text-100: #d9d9d9;
}
::-webkit-scrollbar {
   width: 6px;
}
html {
   scroll-behavior: smooth;
   min-width: 360px;
   cursor: none;
}
::selection {
   background-color: var(--primary-tint);
}

::-webkit-scrollbar-track {
   background: var(--background-900);
}

::-webkit-scrollbar-thumb {
   background: var(--primary);
   border-radius: 10px;
}

.text-large {
   font-size: clamp(32px, 4vw, 40px);
   line-height: 1.25;
   font-weight: 700;
}

html.has-scroll-smooth {
   overflow: hidden;
}

html.has-scroll-dragging {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.hero-info {
   font-size: 4.5rem;
   max-width: 550px;
   display: inline-block;
   font-weight: 900;
   line-height: 1.1;
   background-image: -webkit-linear-gradient(
      45deg,
      rgb(17, 126, 227),
      rgb(0, 240, 255)
   );
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.underline-animation {
   display: inline-block;
   position: relative;
}

.underline-animation::after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 3px;
   bottom: 0;
   left: 0;
   background-color: #000;
   transform-origin: bottom left;
   transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
   transform: scaleX(1);
   transform-origin: bottom left;
}

.animate-text-bg {
   position: relative;
   display: inline-block;
   overflow: hidden;
   transition: all 0.2s linear;
   line-height: 1;
   margin-bottom: -0.15em;
   z-index: 5;
}

.animate-text-bg::before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   transform: translateX(-101%);
   transition: all 0.2s linear;
   z-index: -1;
}

.animate-text-bg:hover:before {
   transform: translateX(0);
}
.hover-underline-animation {
   position: relative;
   cursor: pointer;
}

.hover-underline-animation:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: var(--col-white);
   transform-origin: bottom right;
   transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
